
				<ul>
					<li><a href="#" class="bt-icon icon-zoom">Zoom</a></li>
					<li><a href="#" class="bt-icon icon-refresh">Refresh</a></li>
					<li><a href="#" class="bt-icon icon-lock">Lock</a></li>
					<li><a href="#" class="bt-icon icon-speaker">Sound</a></li>
					<li><a href="#" class="bt-icon icon-star">Favorite</a></li>
				</ul>

